@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-[#040711] text-slate-100 font-sans antialiased selection:bg-indigo-500/30 selection:text-white;
}

#root {
  @apply min-h-screen;
}
